html {
  scroll-behavior: smooth; /* Enable smooth scrolling when navigating between anchor links */
}

body {
    text-align: left;
    color: black; /* Set text color to black*/
}

/* Format the left sidebar */
.sidebar {
    width: 35%; /* Set width to be 35% of the width of its containing (parent) element */
    height: 100vh;  /* Set sidebar’s height to 100% of the viewport height */
    position: fixed; /* Fix the element in place relative to the viewport */
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stacks items vertically */
    justify-content: flex-start; /* Align elements to the top */
    padding-left: 7rem;
    padding-top: 7rem;
}

/* Format the right-side content */
.content {
    margin-left: 35%;  /* Push content to the right */
    height: auto; /* Height of the element adjusts based on its content */
    display: flex; /* Enables Flexbox */
    flex-direction: column; /* Stacks items vertically */
    padding-top: 7rem;
    padding-left: 13rem;
    padding-right: 9rem;
}

/* Format each section in the right-side content */
.section {
    margin-bottom: 1.5rem;
}

/* Format name on sidebar */
.sidebar-name {
    font-size: 3rem;
}

/* Format position on sidebar */
.sidebar-position {
    font-size: 1.2rem;
}

/* Format brief description on sidebar */
.sidebar-info {
    font-size: 1rem;
    margin-bottom: 3rem;
}

/* Format all <a> elements inside an element with class .sidebar */
.sidebar a {
    text-decoration: none; /* Remove the default underline from links */
    color: inherit; /* Use same color as its parent element */
    margin-bottom: 1rem;
}

/* Bold the <a> elements once user hovers over it */
.sidebar a:hover {
    font-weight: bold;
}

/* Format middle section of sidebar */
.sidebar-mid {
    margin-bottom: 3rem;
}

/* Format the positioning of the GitHub and LinkedIn icons */
.svg-container {
    display: flex; /* Enable Flexbox */
    gap: 1rem;
}

/* Format the dimensions of the GitHub and LinkedIn icons */
.icon {
  width: 3rem;
  height: 3rem;
}

/* Format the horizontal line dividers */
.line {
    margin-top: 3rem;
    margin-bottom: 4rem;
    height: 0.1rem;
    width: 100%;
}

/* Format each experience entry */
.exp_entry {
    list-style-type: none; /* Removes bullet points */
    margin-bottom: 3rem;
}

/* Format each experience entry's position */
.position {
    font-size: medium;
    margin-bottom: 0.3rem;
}

/* Format each experience entry's date */
.date {
    font-size: small;
    font-style: italic;
}

/* Format each experience entry's description */
.description {
    padding-left: 1rem;
}

/* Format the link to resume */
.resume_link {
    text-decoration: none; /* Removes the default underline from links */
}

/* Format the links in the project section */
.projects a {
    text-decoration: none; /* Removes the default underline from links */
}

/* Format the projects section */
.projects {
    list-style-type: none; /* Removes bullet points */
}

/* Format each project */
.project {
    margin-bottom: 3rem;
}

/* Format each project's description */
.project_desc {
    margin-bottom: 0.3rem;
}

/* Format the footer */
.footer {
  margin-top: 8rem;
  text-align: center;
  color: #555;
  font-size: small;
}

/* Format the hovering effect on the 3 sections in the sidebar */
.hover-effect {
  position: relative; /* Create a reference for the underline (hover effect) to be positioned appropriately  */
  display: inline-block; /* Positions elements in a line */
}

/* Create an invisible underline that will become visible once hovered over */
.hover-effect::before {
  content: ""; /* Make the ::before element appear */
  position: absolute; /* Set position of this pseudo-element to be relative to the nearest positioned parent element (.hover-effect) */
  bottom: 0; /* Position pseudo-element to be at the bottom of the parent element */
  left: 0; /* Stretch pseudo-element to the left edge of the parent element */
  right: 0; /* Stretch pseudo-element to the right edge of the parent element */
  height: 0.1rem; /* Set height of underline */
  background-color: black;
  transform: scaleX(0); /* Make the underline initially invisible */
  transform-origin: center; /* Underline emerges from the center and expands outward */
  transition: transform 0.4s ease; /* Set expansion time and smoothness of transition */
}

/* Make the invisible underline visible */
.hover-effect:hover::before {
  transform: scaleX(1);
}

/* Format webpage for larger screens (e.g. Desktop PC) */
@media (min-width: 1600px) {
  html {
    font-size: 23px;
  }

  .sidebar {
    padding-left: 2rem;
  }

  .section {
    margin-bottom: 5rem;
  }
}

/* Format webpage for smaller screens (e.g. mobile screens) */
@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
  .sidebar {
    position: static; /* Make Sidebar non-fixed relative to viewport */
    width: 100%; /* Extend Sidebar to fill entire width of viewport */
    padding-top: 12rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .content {
    margin-left: 0;
    padding-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}







