<!-- HTML for Home Page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Webpage matches device's width and set zoom level = 100% -->
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Nicky W. - Portfolio</title>
    <!-- Load and apply CSS (e.g. 'styles.css', Google Fonts, Bootstrap CSS (e.g. flexbox) -->
    <link rel="stylesheet" href="./static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC"
          crossorigin="anonymous">
</head>

<!-- Set background font and color -->
<body style="font-family: 'Quicksand', sans-serif; background: linear-gradient(to right, #1c92d2, #f2fcfe);">

    <!-- Left-side content: Sidebar -->
    <div class="sidebar">
        <!-- High Level Info -->
        <div class="sidebar-top">
            <h2 class="sidebar-name">Nicky W.</h2>
            <h3 class="sidebar-position">Aspiring Software Developer | Former Finance Ops Assistant Manager</h3>
            <p class="sidebar-info">Background in Finance & Accounting, now looking to dive into the world of coding.</p>
        </div>

        <!-- Three Main Sections of Portfolio -->
        <div class="sidebar-mid" >
            <div>
                <a href="#about_me" class="sidebar-link hover-effect">ABOUT ME</a>
            </div>
            <div>
                <a href="#experience" class="sidebar-link hover-effect">EXPERIENCE</a>
            </div>
            <div>
                <a href="#projects" class="sidebar-link hover-effect">PROJECTS</a>
            </div>
        </div>

        <!-- LinkedIn and GitHub icons take users to those webpages and opens in a new tab -->
        <div class="sidebar-bottom">
            <div class="svg-container">
                <a href="https://www.linkedin.com/in/nicky-wangsatorntanakun-25956b150/" target="_blank">
                    <img class="icon" src="./static/linkedin-fill-svgrepo-com.svg" />
                </a>
                <a href="https://github.com/nickyw19/" target="_blank">
                    <img class="icon" src="./static/github-logo-svgrepo-com.png"/>
                </a>
            </div>
        </div>
    </div>

    <!-- Right-side content: About Me, Experiences, and Projects -->
    <div class = "content" >
        <!-- About Me Section -->
        <div class="about_me section segment" id="about_me">
            <h2>Hello!</h2>
            <p>I'm a former Assistant Manager in Finance Operations at Agoda, with a background in finance and
              accounting, who’s pursuing a career in programming. In finance operations, I worked with data
              and tools powered by code, and I was also exposed to writing and running my own queries to
              retrieve specific data—which sparked my interest in coding. Over time, I realized I wanted to
              be more hands-on; to be building the tools instead of just using them. That’s what led me to
              pursue coding full-time. </p>
            <p>I’ve taken courses on Python, SQL, and JavaScript, and am currently building projects to
              strengthen and apply what I’ve learnt while simulating real-world development. I’m seeking
              opportunities to contribute to meaningful projects, make an impact through code, and grow
              as a developer. </p>
            <p>Outside of coding, I like watching soccer, playing the guitar, going to the gym, and exploring
              photography (the non-phone kind). </p>
        </div>

        <!-- Experiences Section -->
        <div class = "experience section segment" id="experience">
            <hr class="line"/>
            <!-- Experience #1 -->
            <li class = "exp_entry" >
                <h2 class = "company"> Agoda </h2>
                <h3 class = "position"> Finance Operations Assistant Manager (2024),
                Supervisor (2023 – 2024), Senior Analyst (2022 – 2023)
                </h3>
                <h4 class = "date"> February 2022 – November 2024 </h4>
                <ul class = "description">
                    <li> Performed analysis and reconciliation of Agoda's supply-side financial data to
                    ensure data integrity, data quality, and accurate financial reporting </li>
                    <li> Led initiatives to design and automate operational processes, IT systems, and
                     reporting tools to reduce time spent on manual processes, address operational
                     gaps, mitigate financial risks, and enhance efficiency and scalability </li>
                    <li> Managed an individual contributor responsible for supplier cost reconciliation,
                     driving process improvements and assessing financial impacts to improve financial
                     accuracy, enhance data flow, and streamline financial operations </li>
                </ul>
            </li>
            <!-- Experience #2 -->
            <li class = "exp_entry" >
                <h2 class = "company"> A Free Bird Organization </h2>
                <h3 class = "position"> Financial Accounting Intern</h3>
                <h4 class = "date"> September 2020 – November 2020 </h4>
                <ul class = "description">
                    <li> Valued company’s inventories and in-kind donations for financial reporting at Fair
                    Market Value, recorded all revenue and expense transactions, and performed bank reconciliations</li>
                    <li> Assisted in implementing internal controls on recording process and restructuring
                     the billing department’s documentation system to improve functional efficiency </li>
                </ul>
            </li>
            <!-- Experience #3 -->
            <li class = "exp_entry" >
                <h2 class = "company"> SZ Global Corporation, Jetzy </h2>
                <h3 class = "position"> Accounting Intern</h3>
                <h4 class = "date"> May 2019 – August 2019</h4>
                <ul class = "description">
                    <li> Managed company’s bank accounts, performed bank reconciliations, recorded company
                  revenue and expenses on Wave accounting system and prepared financial statements and financial
                  reporting deck for investors</li>
                    <li> Fixed company’s entire historical expense records by re-categorizing 2900+
                     transactions over the last 5 years on Wave and restructuring the company’s chart of
                     accounts</li>
                </ul>
            </li>
            <!-- Link to Resume -->
            <a class = "resume_link" target="_blank" href = "./static/Nicky W. - Resume.pdf"> View Full Resume </a>
        </div>

        <!-- Projects Section -->
        <div class = "projects section segment" id="projects">
            <hr class="line"/>
            <!-- Project #1 -->
            <li class = "project">
                <h3 class = "project_name"> Daily News Aggregator </h3>
                <p class = "project_desc">
                  This program consolidates news headlines from multiple sources (e.g. Forbes, TechCrunch, etc.)
                  via web scraping and API integration, into a daily email brief. Designed as a way to access
                  the latest news across multiple sources without having to individually visit each site, a specified
                  number of headlines from each source are retrieved, processed, and combined into a daily
                  email (excluding similar or duplicate headlines).
                </p>
                <div class="project_links">
                    <a href="https://github.com/nickyw19/news-consolidator" target="_blank">Github Repo</a>
                    <a>|</a>
                    <a href="{{ url_for('static', filename='email_aggregator_sample.png') }}" target="_blank">Sample Email</a>
                </div>
            </li>
            <!-- Project #2 -->
            <li class = "project">
                <h3 class = "project_name"> Coding Portfolio </h3>
                <p class = "project_desc">This project is a personal website (the very one
                  you’re on right now) that serves as my coding portfolio - showcasing
                  the skills I’ve developed, the projects I’ve built, and my professional
                  experience. Through a combination of HTML, CSS, and Python, the site’s
                  content is presented in a structured and visually-engaging format. </p>
                <div class="project_links">
                    <a href="https://github.com/nickyw19/coding-portfolio" target="_blank">Github Repo</a>
                </div>
            </li>
        </div>

        <!-- Footer Section -->
        <div class = "footer">
            <p>© 2025 Nicky.  All rights reserved.</p>
        </div>
    </div>

    <!-- Script for Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu" crossorigin="anonymous"></script>

</body>
</html>